.logo-second-colour-footer {
    color: var(--logo-buttons-sectionfour-index-background-color);
    font-size: 18px;
    font-style: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-weight: 800px;
  }

  .footer-tablet{
    display:flex;
   
  }

  @media screen and (width <=1158px) {
  .index-footer {
    max-width: 768px;
    margin:auto;
  }
  .footer-container {
    max-width: 768px;
    display: inline-block;
  }

  .footer-social-media{
    padding: 16px;
  }

  .footer-logo-and-text {
    margin-right:24px;
    margin-left: -45px;
  }

  .footer-tablet{
    display:flex;
    justify-content: center;
    margin-bottom: 72px;
    margin-left: 108px;
  }
  
  .form-subscribe{
    display: block;
    margin-left: 108px;
  }

  .footer-text {
    width: 264px;
  }
}

@media screen and (width <=768px){
  .index-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-logo-and-text {
  margin-right:0;
  margin-left: 0;
}
  .footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-social-media{
    display: flex;
    justify-content: center;
  }

  .footer-social-media-list{
    margin-right:0px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-tablet {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}
.form-footer {
  display: block;
  font-size: 16px;
  margin: auto;
  margin-bottom: 16px;
}

.form-subscribe{
  display: flex;
  margin-left: 0px;
  flex-direction: column;
  }

  .footer-text{
  margin-bottom: 72px;
  }

  .footer-form-entry-field {
 width: 428px;
}

.footer-subscribe-button {
  margin:auto;
  margin-top: 16px;
}
}