.mobile {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mobile-window {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      width: 408px;
      min-height: 584px;
      background: #fcfcfc;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0, 0.2);
      z-index: 10;
      border-radius: 4px;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      padding: 72px 24px 24px 24px;
    }
    
    .mobile-button {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e7e9fc;
      margin: 1px solid rgba(0, 0, 0, 0, 0.1);
      padding: 0;
      cursor: pointer;
      transition: background-colour 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-button:hover {
      border: none;
      background-color: #404bbf;
    }
    
    .mobile-button:focus {
      border: none;
      background-color: #404bbf;
    }
    
    .mobile-button-close {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-button:hover {
      fill: #ffffff;
    }
    
    .mobile-button:focus {
      fill: #ffffff;
    }
  
    
  .form-mobile-title{
    color: var(--logo-titles-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    }
    
    .form-mobile{
      display: flex;
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    padding-left:24px;
    }
    
    .form-mobile-entry{
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    }
    
    .form-mobile-entry-comment{
      position: relative;
      width: 100%;
      margin-bottom: 16px;
      }
    
    .form-mobile-entries{
      position: relative;
    }
    
    .form-entry{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customer-color);
    display: block;
    margin-bottom: 4px;
    }
    
    .mobile-entry{
      margin-bottom: 8px;
    }
    
    .form-entry-field{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color:transparent;
    padding-left: 38px;
    outline:transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .form-entry-field:focus{
      border-color: #4D5AE5;
    }
    
    .mobile-svg{
    position: absolute;
    left: 16px;
    top:50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
              
    .form-entry-field:focus + .mobile-svg{
    fill:#4d5ae5;
    }
    
    .form-entry-comment{
      width: 100%;
    height: 120px;
    color:rgba(46, 47, 66, 0.40);
    /* font-family: Roboto; */
    font-size: 12px;
    /* font-style: normal; */
    /* font-weight: 400; */
    line-height:1.17;
    letter-spacing: 0.48px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .form-entry-comment:focus{
    border-color: #4D5AE5;
    }
    .mobile-check-box{
      margin-bottom: 24px;
    }
    
    .form-checkbox:checked + .form-checkbox-text .privacy-policy {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
    }
    
    .form-checkbox-text{
      color: var(--customer-color);
    /* font-family: Roboto; */
    font-size: 12px;
    /* font-style: normal; */
    /* font-weight: 400; */
    line-height: 1.17;
    letter-spacing: 0.48px;
    display: block;
    }
    
    .privacy-policy{
      width: 16px;
      height:16px;
      border:1px solid rgba(46, 47, 66, 0.4);
      border-radius: 2px;
      transition: background-colour 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display: inline-flex;
      align-items: center;
      justify-content:center;
      fill: transparent;
    }
    
    .privacy-policy-link{
      color: var(--logo-blue-color);
    }
    
    .mobile-button-send{
      margin: auto;
      display: block;
      min-width: 169px;
      height:56px;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #ffffff;
      cursor: pointer;
      background-color:#4D5AE5;
      border: none;
      border-radius: 4px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }