
.section-four-pictures {
    display: flex;
    justify-content: center;
    gap: 24px;
    fill: var(--logo-buttons-sectionfour-index-background-color);
  }

  .section-four-background {
    background-color: var(--logo-buttons-sectionfour-index-background-color);
    padding: 120px 0;
  }
  
  .section-four-pictures-background {
    background-color: #ffffffff;
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  
  .img-section-four{
    width: 264px;
    height: 260px;
  }
  
  .team-member-card{
    width: 264px;
  }

  .section-four-pictures-padding {
    padding: 32px 0;
  }
  
  .images-title-index-team{
    text-align: center;
   }
   
   .images-text-index-team{
     text-align: center;
     margin-bottom: 8px ;
   }

@media screen and (width <=1158px) {
.container-our-team{
  width: 768px;
height: 1224px;
}

.section-four-background{
  max-width: 768px;
  height: 1224px;
  margin: auto;
}

  }

  @media screen and (width <=768px){
    .container-our-team{
      max-width: 468px;
    }
    .section-four-background{
      height: 2232px;
      max-width: 468px;
    }
  }