:root {
  --logo-blue-color: #4d5ae5;
  --logo-buttons-sectionfour-index-background-color: #f4f4fd;
  --logo-titles-color: #2e2f42;
  --background-page-color: #ffffff;
  --address-text-color: #434455;
  --header-buttom-border: #e7e9fc;
  --customer-color: #8e8f99;
  --NAVY-BLUE-modal: #2e2f4266;
}
/*settings for all elements*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--address-text-color);
  background-color: var(--background-page-color);
}

/* CLASSES*/
/*Settings for Header */

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.list {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.menu-nav {
  display: flex;
  gap: 40px;
}

.section-three {
  padding-bottom: 120px;
}
.section-three-pictures {
  display: flex;
  gap: 24px;
}

.section-three-list {
  max-width: calc((100%-48px) / 3);
}


.social-media-list {
  list-style: none;
  display: flex;
  gap: 24px;
  text-align: center;
  justify-content: center;
  padding: 0px;
}
.social-media-list-item {
  max-width: 40px;
  height: 40px;
}
.social-media-icons {
  flex-shrink: 0;
  background-color: var(--logo-blue-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icons:hover,
.social-media-icons:focus {
  background-color: #404bbf;
}

.social-media-icons-svg {
  fill: var(--logo-buttons-sectionfour-index-background-color);
}
/*Classes common to ALL the pages*/

.images-text {
  color: var(--address-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  justify-content: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-header-ul {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--logo-titles-color);
  text-decoration: none;
  padding: 24px 0;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.is-active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
display: block;
  bottom: -2px;
}

.nav-header:hover {
  color: #404bbf;
}
.nav-header:focus {
  color: #404bbf;
}

/* Classes for Body */

.contacts {
  color: var(--address-text-color);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Classes for INDEX page*/

.images-title-index {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--logo-titles-color);
  font-style: normal;
  background-color: #ffffffff;
  margin-bottom: 8px;
  text-align: center;
}

.images-text-index {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--address-text-color);
  margin-bottom: 8px;
}

.section-titles-index {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--logo-titles-color);
  margin-bottom: 72px;
}

.footer-logo-and-text {
  margin-right: 120px;
}

.footer-social-media {
  color: var(--background-page-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-social-media-list {
  gap: 16px;
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 80px;
}

.footer-social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-blue-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
}

.footer-container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;
  display: flex;
}
/* Classes for PORTFOLIO Page */

@media screen and (width <=1158px) {
  .list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
  }


}